In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./data/FootballEurope.csv')
data.head()

/Users/jarp/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (39,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,id,homeTacklesTotalHT,homeShotsTotalHT,awayDispossessedFT,awayPassSuccessFT,awayRatingsFT,awayDribbleSuccessFT,awayDribblesAttemptedHT,awayTeamLineUp,...,homeInterceptionsFT,homePassSuccessHT,date,awayTacklesTotalFT,homeRatingsFT,homeDribblesAttemptedFT,homeTackleSuccessFT,awayPossessionFT,awayShotsTotalFT,division
0,1,1,18,10,14.0,73.69,6.38,47.22,12,"Joel Robles,Paul Scharner,Antolin Alcaraz,Emme...",...,21,69.45,2013-05-14,18,6.73,12.0,75.00,52.35,11.0,EPL
1,2,2,13,3,11.0,75.78,6.39,27.27,5,"Petr Cech,César Azpilicueta,Branislav Ivanovic...",...,14,78.64,2012-11-03,26,6.37,13.0,88.89,46.29,11.0,EPL
2,3,3,10,5,16.0,74.86,6.73,66.67,4,"Anders Lindegaard,Antonio Valencia,Phil Jones,...",...,5,75.31,2013-05-19,20,6.04,11.0,75.00,60.18,15.0,EPL
3,4,4,8,5,6.0,78.43,6.41,27.78,4,"Michel Vorm,Angel Rangel,Garry Monk,Ashley Wil...",...,23,67.21,2013-03-09,23,6.43,14.0,79.55,54.02,11.0,EPL
4,5,5,13,6,9.0,61.07,6.51,40.00,9,"Asmir Begovic,Geoff Cameron,Marc Wilson,Ryan S...",...,7,78.95,2013-03-10,37,6.45,24.0,71.93,46.80,8.0,EPL

In [5]:
# create a smaller set of just epl matches

epl = data[ data['division'] == 'EPL']
epl['date'] = pd.to_datetime(epl['date'])
epl.to_csv('./data/epl.csv')

epl.describe()

/Users/jarp/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Unnamed: 0,id,homeTacklesTotalHT,homeShotsTotalHT,awayDispossessedFT,awayPassSuccessFT,awayRatingsFT,awayDribbleSuccessFT,awayDribblesAttemptedHT,awayShotsBlockedHT,...,homePossessionHT,awayDribblesAttemptedFT,homeInterceptionsFT,homePassSuccessHT,awayTacklesTotalFT,homeRatingsFT,homeDribblesAttemptedFT,homeTackleSuccessFT,awayPossessionFT,awayShotsTotalFT
count,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1899.000000,1900.000000,1870.000000,...,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000
mean,950.500000,950.503158,12.634211,6.591579,11.652632,66.202174,6.422389,54.045229,6.961579,1.404813,...,41.667142,15.564737,14.979474,69.767974,28.421579,6.489500,16.913684,70.695500,38.828721,11.690000
std,548.627074,548.632531,4.644201,3.200601,4.430538,8.267677,0.204565,16.709282,3.594082,1.353622,...,22.152268,6.489390,5.905710,9.231893,7.998332,0.203004,6.559721,11.362333,20.538569,4.810709
min,1.000000,1.000000,2.000000,0.000000,1.000000,40.610000,5.670000,0.000000,0.000000,0.000000,...,0.220000,1.000000,2.000000,41.370000,7.000000,5.830000,0.000000,27.780000,0.230000,1.000000
25%,475.750000,475.750000,9.000000,4.000000,9.000000,60.435000,6.290000,43.330000,4.000000,0.000000,...,38.010000,11.000000,11.000000,63.305000,23.000000,6.360000,12.000000,63.160000,35.602500,8.000000
50%,950.500000,950.500000,12.000000,6.000000,11.000000,66.410000,6.410000,53.850000,7.000000,1.000000,...,48.445000,15.000000,14.000000,70.315000,28.000000,6.480000,16.000000,71.430000,45.975000,11.000000
75%,1425.250000,1425.250000,15.000000,8.000000,14.000000,72.052500,6.540000,64.710000,9.000000,2.000000,...,56.775000,19.000000,19.000000,76.700000,34.000000,6.610000,21.000000,78.260000,52.660000,14.250000
max,1900.000000,1901.000000,33.000000,24.000000,35.000000,89.690000,7.120000,100.000000,21.000000,10.000000,...,76.250000,49.000000,41.000000,92.270000,62.000000,7.410000,45.000000,100.000000,70.560000,31.000000