In [1]:
import numpy as np
import pandas as pd

In [12]:
epl_df = pd.read_csv('./data/epl.csv')
epl_df.head()
#epl_df.dtypes
teams_df = epl_df.groupby('homeTeam')
teams_df.count()

arsenal_df = epl_df[(epl_df['homeTeam'] == 'Arsenal') | (epl_df['awayTeam'] == 'Arsenal')]
arsenal_df[['homeTeam', 'awayTeam']].head()

      homeTeam     awayTeam
0      Arsenal        Wigan
16   Tottenham      Arsenal
25     Arsenal  Aston Villa
35  Sunderland      Arsenal
45     Arsenal        Stoke