In [7]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('./data/arsenal.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,id,homeTacklesTotalHT,homeShotsTotalHT,awayDispossessedFT,awayPassSuccessFT,awayRatingsFT,awayDribbleSuccessFT,...,awayDribblesAttemptedFT,homeInterceptionsFT,homePassSuccessHT,date,awayTacklesTotalFT,homeRatingsFT,homeDribblesAttemptedFT,homeTackleSuccessFT,awayPossessionFT,awayShotsTotalFT
0,0,0,1,1,18,10,14.0,73.69,6.38,47.22,...,20,21,69.45,2013-05-14,18,6.73,12.0,75.00,52.35,11.0
1,16,16,17,17,21,3,11.0,74.08,6.38,53.33,...,22,17,67.53,2013-03-03,20,6.69,13.0,67.39,58.45,11.0
2,25,25,26,26,14,12,15.0,63.66,6.38,68.18,...,13,21,83.15,2013-02-23,31,6.77,23.0,70.29,35.67,8.0
3,35,35,36,36,19,3,6.0,72.36,6.78,70.00,...,25,21,70.70,2013-02-09,31,6.41,20.0,46.15,52.83,19.0
4,45,45,46,46,3,14,7.0,58.76,6.50,50.00,...,6,16,83.03,2013-02-02,27,6.58,19.0,81.82,36.69,7.0

In [6]:
# create a smaller set of just epl matches